<div *ngFor="let item of items$|async" class="result">
        <div class="title">
          <a class="title-pointer" href="{{item.link}}" [style.color]="themeService.titleColor">{{item.title}}</a>
        </div>
        <div class="link">
          <p [style.color]="themeService.linkColor">{{item.link}}</p>
        </div>
        <div class="description">
              <p [style.color]="themeService.descriptionColor">{{item.pubDate|date:'MMMM d, yyyy'}} - {{item.description}}</p>
        </div>
      </div>